.tpo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e0f2ff, #467fb1);
    padding: 50px 0;
  }
  
  .tpo-content {
    display: flex;
    max-width: 1100px;
    width: 90%;
    align-items: center;
    gap: 40px;
  }
  
  .tpo-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  }
  
  .tpo-info {
    color:rgb(13, 5, 27);
    max-width: 500px;
  }
  
  .tpo-info h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  
  .tpo-info p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  @media (max-width: 900px) {
    .tpo-content {
      flex-direction: column;
      text-align: center;
    }
  
    .tpo-image img {
      max-width: 100%;
    }
  }
  